.banners {
  color: white;
  background-color: #07101a;
  width: 100%;
  height: auto;
  display: flex;
  position: relative; /* Necessary for positioning the second image */
}


.banner-bg{
background-color: #07101a;
color: white;

}
.banner-img {
  width: 100%;
  height: auto;
  position: relative; /* Ensure positioning context for radio buttons */
}

.radio-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.radio-buttons input[type="radio"] {
  margin-bottom: 10px;
}

.radio-buttons label {
  display: block;
  color: white;
}
.product-wallet{

  z-index: -1;
}

.radio-options {
  display: flex;
  align-items: center;
}

.radio-options label {
  margin-right: 10px;
}

.radio-options input[type="radio"] {
  display: none;
}

.radio-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.brown {
  background-color: brown;
}

.black {
  background-color: black;
}



.banner-image {
  max-width: 100% !important;
  width: auto !important; 
  height: auto !important; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-contents {
  padding: 20px;
  flex-grow: 1; /* Allow content to grow to take available space */
  position: relative; /* Ensure proper stacking */
   left: calc(50% + (max-width of image) / 2);
   transform: translateX(20%);
  z-index: 2; /* Ensure content appears above the second image */
}

@media (max-width: 768px) {
  .banner-contents {
    text-align: center;
    z-index: initial; /* Resetting the z-index for smaller screens */
  }
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  line-height: 1.3;
  font-size: 0.8rem;
  max-width: 360px;
}

@media (max-width: 992px) {
  .banner-img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .banners {
    flex-direction: column;
  }

  .banner-img {
    width: 100%;
  }

  .banner-contents {
    text-align: center;
  }
}


.counter {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
 
}

.counter button {
  width: 30px;
  height: 30px;
  background-color:white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.counter span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}


.nav_btn{
    font-size: .75rem;
  padding: .875rem 1.625rem;
  line-height: 1.3175em;
  background-color: #f3671f;
  border-color: #de0030;
  color: white;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
   border-radius: 30px;


}

.card a{
  color: white !important;
}



