.nav-bar {
  border-bottom: 1px solid #ddd;

    position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  transition: top 0.5s ease 0s;
  background-color: #f5f4f2;
  border-bottom: 1px solid rgb(229, 232, 235);
  box-shadow: rgb(14 14 14 / 25%) 0px 0px 8px 0px;

  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.link-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


.button-container {
  display: flex;
  align-items: center;
}

.nav_logo {
  font-size: 24px;
  color: #333;
}

.cart-icon {
  position: relative;
}

.cart-item-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff5722;
  color: #fff;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
}
